Repository onuriltan/note-manager-web: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

chore: add eslint to root for ci
  package.json
  yarn.lock
Due: none

chore: ci config
  .circleci/config.yml
  package.json
  packages/api/package.json
  packages/web/package.json
  yarn.lock
Due: api, web

chore: ci config
  .circleci/config.yml
Due: none

chore: ci config
  .circleci/config.yml
  packages/api/package.json
  packages/web/package.json
Due: api, web

test: comment out failing test for now
  packages/web/src/modules/header/Header.test.js
Due: web

test: fix server tests
  packages/api/jest.config.js
  packages/api/src/modules/user/controller/user/user.controller.test.js
Due: api

codecov: make frontend test coverage 0 for now
  codecov.yml
Due: none

ci: clear cache before installing package deps
  .circleci/config.yml
Due: none

ci: clear yarn cache first
  .circleci/config.yml
Due: none

ci: fix yml indent
  .circleci/config.yml
Due: none

ci: do not delete yarn cache
  .circleci/config.yml
Due: none

ci: change package install deps way
  .circleci/config.yml
Due: none

ci: install devdeps with bootstrap
  .circleci/config.yml
Due: none

feature: add circleci and codecov (#93)
  .circleci/config.yml
  codecov.yml
  package.json
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/src/modules/user/controller/user/user.controller.test.js
  packages/web/package.json
  packages/web/src/modules/header/Header.test.js
Due: api, web

chore: add ci and codecov badges
  README.md
Due: none

chore: badges (#94)
  README.md
Due: none

feat: tapi ypescript migration so far
  package.json
  packages/api/index.d.ts
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/config/mail.ts
  packages/api/src/config/passport.ts
  packages/api/src/config/pino.ts
  packages/api/src/middlewares/jwt.js
  packages/api/src/middlewares/jwt.ts
  packages/api/src/migrations/1-modify-posts-collection.ts
  packages/api/src/migrations/index.ts
  packages/api/tsconfig.json
  packages/api/yarn.lock
  yarn.lock
Due: api

feat: so far so good?
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/migrations/index.ts
  packages/api/src/modules/notes/index.ts
  packages/api/src/modules/notes/validator.ts
  packages/api/src/modules/user/index.ts
  packages/api/src/modules/user/validator.ts
  packages/api/yarn.lock
Due: api

feat: note module fully typescripted
  packages/api/package.json
  packages/api/src/modules/notes/controller/note.controller.ts
  packages/api/src/modules/notes/entity/note.entity.ts
  packages/api/src/modules/notes/repository/note.repository.js
  packages/api/src/modules/notes/repository/note.repository.ts
  packages/api/src/modules/notes/service/note.service.ts
  packages/api/yarn.lock
Due: api

feat: complete typescript conversion for api
  packages/api/package.json
  packages/api/src/config/passport.ts
  packages/api/src/modules/notes/entity/note.entity.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/controller/user/user.controller.ts
  packages/api/src/modules/user/entity/user.entity.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/src/modules/user/repository/user.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/yarn.lock
Due: api

test: refactor tests and jest to work with typescript
  package.json
  packages/api/.eslintrc.js
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/config/passport.ts
  packages/api/src/migrations/1-modify-posts-collection.ts
  packages/api/src/modules/notes/controller/note.controller.test.ts
  packages/api/src/modules/notes/repository/note.repository.ts
  packages/api/src/modules/notes/repository/notes.repository.test.ts
  packages/api/src/modules/notes/service/note.service.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/user/user.controller.test.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/src/modules/user/repository/user.ts
  packages/api/tsconfig.json
  packages/api/yarn.lock
  packages/web/package.json
Due: api, web

ci: fix link script
  .circleci/config.yml
Due: none

ci: build typescript before running api app
  Procfile
  package.json
Due: none

config: eslint and typescript
  packages/api/.eslintignore
  packages/api/.eslintrc.js
  packages/api/index.d.ts
  packages/api/package.json
  packages/api/tsconfig.json
  packages/api/yarn.lock
Due: api

test: delete editedAt and put timestamps to mongo models
  package.json
  packages/api/.eslintrc.js
  packages/api/src/modules/notes/controller/note.controller.test.ts
  packages/api/src/modules/notes/controller/note.controller.ts
  packages/api/src/modules/notes/entity/note.entity.ts
  packages/api/src/modules/notes/repository/note.repository.ts
  packages/api/src/modules/notes/repository/notes.repository.test.ts
Due: api

test: increase coverage for patch
  packages/api/src/modules/user/service/auth/auth.service.test.ts
Due: api

codecov: allow bove 40% for now for patch
  codecov.yml
Due: none

deployment: need to install root dev deps to build api code
  package.json
Due: none

fix: api deployment (#97)
  package.json
Due: none

fix: port type and index file name of build
  Procfile
  packages/api/index.d.ts
Due: api

fix: build api (#98)
  Procfile
  packages/api/index.d.ts
Due: api

fix: procfile
  Procfile
Due: none

fix: procfile path to server (#99)
  Procfile
Due: none

feat(api): configure ts and reafactor everything
  packages/api/.eslintrc.js
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/config/mail.ts
  packages/api/src/config/passport.ts
  packages/api/src/config/pino.ts
  packages/api/src/middlewares/jwt.ts
  packages/api/src/migrations/1-modify-posts-collection.ts
  packages/api/src/migrations/index.ts
  packages/api/src/modules/notes/controller/note.controller.test.ts
  packages/api/src/modules/notes/controller/note.controller.ts
  packages/api/src/modules/notes/repository/note.repository.ts
  packages/api/src/modules/notes/repository/notes.repository.test.ts
  packages/api/src/modules/notes/service/note.service.test.ts
  packages/api/src/modules/notes/service/note.service.ts
  packages/api/src/modules/notes/validator.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/controller/user/user.controller.test.ts
  packages/api/src/modules/user/controller/user/user.controller.ts
  packages/api/src/modules/user/entity/user.entity.ts
  packages/api/src/modules/user/repository/auth.ts
  packages/api/src/modules/user/repository/user.ts
  packages/api/src/modules/user/service/auth/auth.service.test.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
  packages/api/src/modules/user/validator.ts
  packages/api/src/types/dotenv/index.d.ts
  packages/api/src/types/express/index.d.ts
  packages/api/tsconfig.json
  packages/api/yarn.lock
Due: api

fix: sendConfirmationMail
  packages/api/src/config/mail.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
  packages/api/src/modules/user/service/auth/auth.service.test.ts
  packages/api/src/modules/user/service/auth/auth.service.ts
Due: api

test: increase current pr codecov
  packages/api/src/config/mail.ts
  packages/api/src/modules/user/controller/auth/auth.controller.test.ts
  packages/api/src/modules/user/controller/auth/auth.controller.ts
Due: api

Path conditions:
  api: any of: packages/api
  web: any of: packages/web
